@use "../abstracts/variables";
@use "../abstracts/mixin";

.header {
    padding: 40px 0;

    .nav {
        flex-wrap: wrap;
        align-items: center;
        
        .header-logo_texts {
            align-items: center;

            .header-texts {
                margin-left: 20px;

                h4 {
                    color: #369E0F;
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 30px;
                    letter-spacing: 10.08px;
                }

                h5 {
                    margin-top: 12px;
                    margin-bottom: 17px;
                    color: variables.$blue;
                    font-weight: 600;
                }

                p {
                    color: variables.$blue;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: -0.56px;
                }
            }
        }

        .header-links_email {
                margin-left: 100px;
            .header-links {
                    a {
                        color: variables.$blue;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 27px;
                    }

                    .links {
                        margin-top: 23px;

                        .link {
                            margin-right: 5px;
                        }
                    }
            }
            .header-email {
                a {
                    color: #51C444;
                    font-size: 18px;
                    line-height: 27px;
                }
            }
        }

        .photograph-assessment {
            a {
                margin-top: 12px;
                display: block;
                color: #51C444;
                text-align: center;
                font-size: 16px;
                line-height: 24px;
                text-decoration-line: underline;
            }
        }
    }
}