@use "../abstracts/variables";
@use "../abstracts/mixin";

@media (min-width:1140px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1170px !important;
    }
}

.wrapper {

    .header {
        padding: 40px 0;

        .nav {
            flex-wrap: wrap;
            align-items: center;

            .header-logo_texts {
                align-items: center;

                .header-texts {
                    margin-left: 20px;

                    h4 {
                        color: #369E0F;
                        font-size: 18px;
                        font-weight: 900;
                        line-height: 30px;
                        letter-spacing: 10.08px;
                    }

                    h5 {
                        margin-top: 8px;
                        margin-bottom: 15px;
                        color: variables.$blue;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    p {
                        color: variables.$blue;
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: -0.56px;
                    }
                }
            }

            .header-links_email {
                margin-left: 100px;

                .header-links {
                    a {
                        color: variables.$blue;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 27px;
                    }

                    .links {
                        margin-top: 23px;

                        .link {
                            margin-right: 3px;
                        }
                    }
                }

                .header-email {
                    a {
                        color: variables.$green_two;
                        font-size: 18px;
                        line-height: 27px;
                        margin-right: 78px;
                    }
                }
            }

            .photograph-assessment {
                margin-left: 70px;

                a {
                    margin-top: 12px;
                    display: block;
                    color: variables.$green_two;
                    text-align: center;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration-line: underline;
                }
            }
        }
    }

}


@media (max-width:1200px) {
    .header {

        .nav {

            .header-links_email {
                    margin-left: 10px;

                .header-email {
                    display: none ;
                }
            }


            .photograph-assessment {
                margin-left: 10px;
            }

        }
    }
}

@media (max-width:1020px) {
    .header {

        .nav {
            .header-links_email {
                display: none!important;
            }

        }
    }
}